.grid-layout {
  display: grid;
  grid-template-columns: 150px 1fr;
  height: 100vh;
}

.side-bar {
  color: white;
  background-color: black;
}

.side-bar__item {
  height: 44px;
  border-bottom: 1px solid #5c5c5c;
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.body .footer {
  height: 79px;
  display: flex;
  align-items: center;
  padding-left: 150px;
  border-top: 1px solid #dedede;
}
