.layout {
  display: flex;
  font-size: 16px;
}

.side-bar {
  color: white;
  width: 150px;
  height: 100vh;
  position: fixed;
  background-color: black;
}

.side-bar__item {
  height: 44px;
  border-bottom: 1px solid #5c5c5c;
  display: flex;
  align-items: center;
  padding-left: 16px;
  color: #aaaaaa;
  font-weight: 700;
}

.side-bar__item.active {
  color: white;
}

.side-bar__item:hover {
  color: white;
  background-color: #5c5c5c;
}

.body {
  margin-left: 150px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.body .content {
  text-align: center;
  padding-top: 20px;
  padding-inline: 7.29%;
  flex-grow: 1;
}

.description {
  margin-top: 30px;
  background-color: #efefef;
  padding: 30px 17.81%;
  margin-bottom: 40px;
}

.description__title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 18px;
}

.description__detail {
  line-height: 18.75px;
}

.grid-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;

  @media only screen and (max-width: 912px) {
    grid-template-columns: 1fr;
  }
}

.grid-items__item {
  text-align: left;

  .item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 18px;
  }

  .item-content {
    line-height: 18.75px;

    .image {
      float: left;
      margin-right: 16px;
      img {
        width: 128px;
        aspect-ratio: 1;
      }
    }
  }
}

.body .footer {
  height: 79px;
  display: flex;
  align-items: center;
  padding-left: 7.29%;
  border-top: 1px solid #dedede;
  margin-top: 80px;
}
